<div class="page-header">
  <%= link_to new_judge_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus"></span>
  <% end %>
  <h1>Wertungsrichter</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for( :tr, @judges ) do |judge| %>
        <td><%= judge.name %></td>
        <td>
          <%= link_to judge, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" do %>
            <span class="glyphicon glyphicon-trash"></span>
            Destroy
          <% end %>
          <%= link_to edit_judge_path( judge ), class: "btn btn-xs btn-primary" do %>
            <span class="glyphicon glyphicon-pencil"></span>
            Edit
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
